For simplicity and education:
    functionality has been removed
        submission path
        versioning

In [114]:
import pandas as pd
import numpy as np

In [115]:
import os
dirname = os.getcwd()
print(dirname)

/home/jupyterlab/pipeline-202102

In [116]:
os.environ['MPLCONFIGDIR'] = dirname
import matplotlib

In [117]:
import xlsxwriter
import xlrd

In [118]:
from sqlalchemy import create_engine
import psycopg2

In [119]:
from datetime import datetime
my_date = datetime.now()
print(my_date.isoformat())

2021-02-09T11:30:30.839965

In [120]:
print(my_date.strftime('%Y-%m-%dT%H:%M:%S.%f%z'))

2021-02-09T11:30:30.839965

In [121]:
runid = "R" + my_date.strftime('%Y%m%d%H%M%S%f%z')
runid

'R20210209113030839965'

In [122]:
filename = dirname + '/Data.xlsx'
filedf = pd.read_excel(filename,engine='openpyxl', sheet_name=None, header=None)

In [123]:
sheetnames = list(filedf.keys())

In [124]:
def validate_date(date_text):
    try:
        format_string = '%Y-%m-%d %H:%M:%S'
        datetime.strptime(date_text, format_string)
        return "OK"
    except ValueError:
        return None

def GetDataType(row_in):
    valueasstring = str(row_in['CellValue'])
    if validate_date(valueasstring) != None:
        return 'Date'
    elif valueasstring.isnumeric():
        return 'Number'
    else:
        return 'Text'

def add1_2row(row_in):
    return row_in['RowID'] + 1


def add1_2column(row_in):
    return row_in['ColumnID'] + 1

In [125]:
celldbstagedf = pd.DataFrame()
sheetdf = filedf['DataMap'].copy()
sheetdf["RowID"] = sheetdf.index
#sheetdf

In [126]:
for currentsheetname in sheetnames:

    sheetdf = filedf[currentsheetname].copy()
    sheetdf["RowID"] = sheetdf.index
    celldb = pd.melt(sheetdf, id_vars=['RowID'])
    celldb = celldb.rename(columns={"variable": "ColumnID", "value": "CellValue"})
    celldb["CellType"] = "Unset"
    celldb["FileName"] = runid
    celldb["SheetName"] = currentsheetname
    
    celldb["ColumnID"] = celldb["ColumnID"]

    try:
        celldb["CellType"] = celldb.apply(GetDataType, axis=1)
        celldb["RowID"] = celldb.apply(add1_2row, axis=1)
        celldb["ColumnID"] = celldb.apply(add1_2column, axis=1)

    except:

        celldb["CellType"] = 'unknown'
        celldb["RowID"] = 0
        celldb["ColumnID"] = 0

    celldbstagedf = celldbstagedf.append(celldb, ignore_index=True)

    celldb = pd.DataFrame()

In [127]:
fullcelldb = celldbstagedf.copy()

In [128]:
def GetTableFromCells(Dataset_in):
    Cells = pd.DataFrame()
    Cells = fullcelldb[(fullcelldb['SheetName'] == Dataset_in)].copy()
    Table = pd.DataFrame()
    Table = Cells.pivot_table(index = ['RowID'], values = 'CellValue',columns = 'ColumnID', aggfunc = 'max')
    Headings = Table.iloc[0]
    HeadingsList = list(Headings)
    HeadingsListTuple = enumerate(HeadingsList,start=1)
    HeadingsListDict = dict(HeadingsListTuple)
    Table = Table.rename(columns=HeadingsListDict)
    Table = Table.drop([1])
    Columns = Table.columns.tolist()
    return Table, Columns

In [129]:
Dataset_Table, Dataset_Columns = GetTableFromCells('DataSet')

In [130]:
Dataset_Table

ColumnID,DataSetID,SheetName,ReferenceTextStart,ReferenceTextEnd,RowFromReferenceText,ColumnFromReferenceText,FieldPosition,FieldID,FieldDescription,TableOrientation
RowID,,,,,,,,,,
2,Ages,AgeGenderSheet,Age Table,Gender Table,2,1,1,Name,Name,Down
3,Ages,AgeGenderSheet,Age Table,Gender Table,2,2,2,Age,Age,Down
4,Genders,AgeGenderSheet,Gender Table,DOB Table,2,0,1,Name,Name,Down
5,Genders,AgeGenderSheet,Gender Table,DOB Table,2,1,2,Gender,Gender,Down
6,DoB,AgeGenderSheet,DOB Table,NaN,2,0,1,Name,Name,Down
7,DoB,AgeGenderSheet,DOB Table,NaN,2,1,2,DoB,D.O.B,Down
8,MaritalStatus,MaritalDepartmentSheet,Marital Status Table,NaN,2,0,1,Name,Name,NaN
9,MaritalStatus,MaritalDepartmentSheet,Marital Status Table,NaN,2,1,2,Status,Status,NaN
10,Department,MaritalDepartmentSheet,Department Table,NaN,2,0,1,Name,Name,NaN
11,Department,MaritalDepartmentSheet,Department Table,NaN,2,1,2,Department,Department,NaN
12,Jobs,JobSheet,Job Description Table,NaN,2,0,1,Job_Title,Job Title,NaN
13,Jobs,JobSheet,Job Description Table,NaN,2,1,2,Employee_Name,Employee Name,NaN
14,Jobs,JobSheet,Job Description Table,NaN,2,2,3,ID,ID,NaN
15,HomeLocation,HomeSheet,Home Location Table,NaN,2,0,1,Employee,Employee,NaN
16,HomeLocation,HomeSheet,Home Location Table,NaN,2,1,2,Location,Location,NaN

In [131]:
ReferenceText_Table = Dataset_Table[['DataSetID','SheetName','ReferenceTextStart','ReferenceTextEnd']]
ReferenceText_Table = ReferenceText_Table.drop_duplicates()
ReferenceText_Table

ColumnID,DataSetID,SheetName,ReferenceTextStart,ReferenceTextEnd
RowID,,,,
2,Ages,AgeGenderSheet,Age Table,Gender Table
4,Genders,AgeGenderSheet,Gender Table,DOB Table
6,DoB,AgeGenderSheet,DOB Table,NaN
8,MaritalStatus,MaritalDepartmentSheet,Marital Status Table,NaN
10,Department,MaritalDepartmentSheet,Department Table,NaN
12,Jobs,JobSheet,Job Description Table,NaN
15,HomeLocation,HomeSheet,Home Location Table,NaN

In [132]:
fullcelldb.head()

   RowID  ColumnID CellValue CellType               FileName       SheetName
0      1         1       NaN     Text  R20210209113030839965  AgeGenderSheet
1      2         1       NaN     Text  R20210209113030839965  AgeGenderSheet
2      3         1       NaN     Text  R20210209113030839965  AgeGenderSheet
3      4         1       NaN     Text  R20210209113030839965  AgeGenderSheet
4      5         1       NaN     Text  R20210209113030839965  AgeGenderSheet

In [133]:
## df1.merge(df2, left_on='lkey', right_on='rkey')
## new_df = pd.merge(A_df, B_df,  how='left', left_on=['A_c1','c2'], right_on = ['B_c1','c2'])

Anchor_Table = fullcelldb.merge(ReferenceText_Table,how='right', left_on=['SheetName','CellValue'], right_on=['SheetName','ReferenceTextStart'])

In [134]:
Anchor_Table = Anchor_Table.rename(columns={"RowID": "AnchorRowID", "ColumnID": "AnchorColumnID"})
Anchor_Table = Anchor_Table.drop(['CellValue', 'CellType'], axis=1)
Anchor_Table

,AnchorRowID,AnchorColumnID,FileName,SheetName,DataSetID,ReferenceTextStart,ReferenceTextEnd
0,5,2,R20210209113030839965,AgeGenderSheet,Ages,Age Table,Gender Table
1,14,4,R20210209113030839965,AgeGenderSheet,Genders,Gender Table,DOB Table
2,23,1,R20210209113030839965,AgeGenderSheet,DoB,DOB Table,NaN
3,3,1,R20210209113030839965,MaritalDepartmentSheet,MaritalStatus,Marital Status Table,NaN
4,2,5,R20210209113030839965,MaritalDepartmentSheet,Department,Department Table,NaN
5,6,3,R20210209113030839965,JobSheet,Jobs,Job Description Table,NaN
6,8,1,R20210209113030839965,HomeSheet,HomeLocation,Home Location Table,NaN

In [135]:
End_Table = fullcelldb.merge(ReferenceText_Table,how='inner', left_on=['SheetName','CellValue'], right_on=['SheetName','ReferenceTextEnd'])
End_Table.dropna(subset=['ReferenceTextEnd'],inplace=True)
End_Table = End_Table.rename(columns={"RowID": "EndRowID", "ColumnID": "EndColumnID"})
End_Table = End_Table.drop(['CellValue', 'CellType', 'FileName', 'ReferenceTextStart','ReferenceTextEnd'], axis=1)
#End_Table[End_Table['DataSet']=='Ages']
End_Table

     EndRowID  EndColumnID       SheetName DataSetID
108        23            1  AgeGenderSheet   Genders
109        14            4  AgeGenderSheet      Ages

In [136]:
Datamap_Table, Datamap_Columns = GetTableFromCells('DataMap')

In [137]:
Datamap_Table

ColumnID,SheetName,ReferenceText,RowFromReferenceText,ColumnFromReferenceText,TemplateText,DataGroup,DataCategory,DataScope,FieldID,Column Header,DataSetID
RowID,,,,,,,,,,,
2,AgeGenderSheet,Age Table,2,1,Name,Ages,NaN,NaN,Name,Name,Ages
3,AgeGenderSheet,Age Table,2,2,Age,Ages,NaN,NaN,Age,Age,Ages
4,AgeGenderSheet,Gender Table,2,0,Name,Genders,NaN,NaN,Name,Name,Genders
5,AgeGenderSheet,Gender Table,2,1,Gender,Genders,NaN,NaN,Gender,Gender,Genders
6,AgeGenderSheet,DOB Table,2,0,Name,DoB,NaN,NaN,Name,Name,DoB
7,AgeGenderSheet,DOB Table,2,1,D.O.B,DoB,NaN,NaN,DoB,D.O.B,DoB
8,MaritalDepartmentSheet,Marital Status Table,2,0,Name,Marital Status,NaN,NaN,Name,Name,MaritalStatus
9,MaritalDepartmentSheet,Marital Status Table,2,1,Status,Marital Status,NaN,NaN,Status,Status,MaritalStatus
10,MaritalDepartmentSheet,Department Table,2,0,Name,Department,NaN,NaN,Name,Name,Department
11,MaritalDepartmentSheet,Department Table,2,1,Department,Department,NaN,NaN,Department,Department,Department
12,JobSheet,Job Description Table,2,0,Job Title,Jobs,NaN,NaN,Job_Title,Job Title,Jobs
13,JobSheet,Job Description Table,2,1,Employee Name,Jobs,NaN,NaN,Employee_Name,Employee Name,Jobs
14,JobSheet,Job Description Table,2,2,ID,Jobs,NaN,NaN,ID,ID,Jobs
15,HomeSheet,Home Location Table,2,0,Employee,Home Location,NaN,NaN,Employee,Employee,HomeLocation
16,HomeSheet,Home Location Table,2,1,Location,Home Location,NaN,NaN,Location,Location,HomeLocation

In [138]:
MetaData_Table, MetaData_Columns = GetTableFromCells('MetaData')

In [139]:
MetaData_Table

ColumnID Database      DataSetID Schema      TableName
RowID
2            data           Ages    raw           Ages
3            data        Genders    raw        Genders
4            data            DoB    raw            DoB
5            data  MaritalStatus    raw  MaritalStatus
6            data     Department    raw     Department
7            data           Jobs    raw           Jobs
8            data   HomeLocation    raw   HomeLocation

In [140]:
FullDataMap_Table = Anchor_Table.merge(
        Datamap_Table,how='right',
        left_on=['DataSetID','SheetName'],
        right_on=['DataSetID','SheetName'])

FullDataMap_Table = FullDataMap_Table.drop(['FileName'], axis=1)

FullDataMap_Table = FullDataMap_Table.merge(
        End_Table,how='left',
        left_on=['DataSetID','SheetName'],
        right_on=['DataSetID','SheetName'])

FullDataMap_Table

,AnchorRowID,AnchorColumnID,SheetName,DataSetID,ReferenceTextStart,ReferenceTextEnd,ReferenceText,RowFromReferenceText,ColumnFromReferenceText,TemplateText,DataGroup,DataCategory,DataScope,FieldID,Column Header,EndRowID,EndColumnID
0,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,Ages,NaN,NaN,Name,Name,14.0,4.0
1,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,Ages,NaN,NaN,Age,Age,14.0,4.0
2,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,Genders,NaN,NaN,Name,Name,23.0,1.0
3,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,Genders,NaN,NaN,Gender,Gender,23.0,1.0
4,23,1,AgeGenderSheet,DoB,DOB Table,NaN,DOB Table,2,0,Name,DoB,NaN,NaN,Name,Name,NaN,NaN
5,23,1,AgeGenderSheet,DoB,DOB Table,NaN,DOB Table,2,1,D.O.B,DoB,NaN,NaN,DoB,D.O.B,NaN,NaN
6,3,1,MaritalDepartmentSheet,MaritalStatus,Marital Status Table,NaN,Marital Status Table,2,0,Name,Marital Status,NaN,NaN,Name,Name,NaN,NaN
7,3,1,MaritalDepartmentSheet,MaritalStatus,Marital Status Table,NaN,Marital Status Table,2,1,Status,Marital Status,NaN,NaN,Status,Status,NaN,NaN
8,2,5,MaritalDepartmentSheet,Department,Department Table,NaN,Department Table,2,0,Name,Department,NaN,NaN,Name,Name,NaN,NaN
9,2,5,MaritalDepartmentSheet,Department,Department Table,NaN,Department Table,2,1,Department,Department,NaN,NaN,Department,Department,NaN,NaN
10,6,3,JobSheet,Jobs,Job Description Table,NaN,Job Description Table,2,0,Job Title,Jobs,NaN,NaN,Job_Title,Job Title,NaN,NaN
11,6,3,JobSheet,Jobs,Job Description Table,NaN,Job Description Table,2,1,Employee Name,Jobs,NaN,NaN,Employee_Name,Employee Name,NaN,NaN
12,6,3,JobSheet,Jobs,Job Description Table,NaN,Job Description Table,2,2,ID,Jobs,NaN,NaN,ID,ID,NaN,NaN
13,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,0,Employee,Home Location,NaN,NaN,Employee,Employee,NaN,NaN
14,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,Home Location,NaN,NaN,Location,Location,NaN,NaN

In [141]:
FullDataPublish_Table = FullDataMap_Table.merge(
        fullcelldb,how='left',
        left_on=['SheetName'],
        right_on=['SheetName'])
FullDataPublish_Table

,AnchorRowID,AnchorColumnID,SheetName,DataSetID,ReferenceTextStart,ReferenceTextEnd,ReferenceText,RowFromReferenceText,ColumnFromReferenceText,TemplateText,...,DataScope,FieldID,Column Header,EndRowID,EndColumnID,RowID,ColumnID,CellValue,CellType,FileName
0,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,NaN,Name,Name,14.0,4.0,1,1,NaN,Text,R20210209113030839965
1,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,NaN,Name,Name,14.0,4.0,2,1,NaN,Text,R20210209113030839965
2,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,NaN,Name,Name,14.0,4.0,3,1,NaN,Text,R20210209113030839965
3,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,NaN,Name,Name,14.0,4.0,4,1,NaN,Text,R20210209113030839965
4,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,NaN,Name,Name,14.0,4.0,5,1,NaN,Text,R20210209113030839965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,NaN,Location,Location,NaN,NaN,8,2,NaN,Text,R20210209113030839965
1172,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,NaN,Location,Location,NaN,NaN,9,2,Location,Text,R20210209113030839965
1173,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,NaN,Location,Location,NaN,NaN,10,2,London,Text,R20210209113030839965
1174,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,NaN,Location,Location,NaN,NaN,11,2,Liverpool,Text,R20210209113030839965
1175,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,NaN,Location,Location,NaN,NaN,12,2,Blackpool,Text,R20210209113030839965

In [142]:
def KeepColumn(ColumnID,ColumnFromReferenceText,AnchorColumnID):
    if ColumnID == ColumnFromReferenceText + AnchorColumnID:
        return 1
    return 0

def KeepRow(RowID,RowFromReferenceText,AnchorRowID, EndRowID):
    if RowID >= RowFromReferenceText + AnchorRowID and RowID < EndRowID:
        return 1
    return 0
#dc.ColumnID = ds.ColumnFromReferenceText + @AnchorColumn

FullDataPublish_Table['KeepColumn'] = FullDataPublish_Table.apply(lambda x: KeepColumn(x['ColumnID'],x['ColumnFromReferenceText'],x['AnchorColumnID']), axis=1)
FullDataPublish_Table['KeepRow'] = FullDataPublish_Table.apply(lambda x: KeepRow(x['RowID'],x['RowFromReferenceText'],x['AnchorRowID'],x['EndRowID']), axis=1)

##df.apply(lambda x: fxy(x['A'], x['B']), axis=1)


#dc.RowID > ds.RowFromReferenceText + @AnchorRow;
FullDataPublish_Table

,AnchorRowID,AnchorColumnID,SheetName,DataSetID,ReferenceTextStart,ReferenceTextEnd,ReferenceText,RowFromReferenceText,ColumnFromReferenceText,TemplateText,...,Column Header,EndRowID,EndColumnID,RowID,ColumnID,CellValue,CellType,FileName,KeepColumn,KeepRow
0,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,1,1,NaN,Text,R20210209113030839965,0,0
1,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,2,1,NaN,Text,R20210209113030839965,0,0
2,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,3,1,NaN,Text,R20210209113030839965,0,0
3,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,4,1,NaN,Text,R20210209113030839965,0,0
4,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,5,1,NaN,Text,R20210209113030839965,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1171,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,Location,NaN,NaN,8,2,NaN,Text,R20210209113030839965,1,0
1172,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,Location,NaN,NaN,9,2,Location,Text,R20210209113030839965,1,0
1173,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,Location,NaN,NaN,10,2,London,Text,R20210209113030839965,1,0
1174,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,Location,NaN,NaN,11,2,Liverpool,Text,R20210209113030839965,1,0
1175,8,1,HomeSheet,HomeLocation,Home Location Table,NaN,Home Location Table,2,1,Location,...,Location,NaN,NaN,12,2,Blackpool,Text,R20210209113030839965,1,0

In [143]:
Data2BPublished_Cells = FullDataPublish_Table[(FullDataPublish_Table['KeepRow']==1) & (FullDataPublish_Table['KeepColumn']==1)]
Data2BPublished_Cells

,AnchorRowID,AnchorColumnID,SheetName,DataSetID,ReferenceTextStart,ReferenceTextEnd,ReferenceText,RowFromReferenceText,ColumnFromReferenceText,TemplateText,...,Column Header,EndRowID,EndColumnID,RowID,ColumnID,CellValue,CellType,FileName,KeepColumn,KeepRow
60,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,7,3,Paul,Text,R20210209113030839965,1,1
61,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,8,3,Ringo,Text,R20210209113030839965,1,1
62,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,9,3,Brian,Text,R20210209113030839965,1,1
63,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,10,3,NaN,Text,R20210209113030839965,1,1
64,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,11,3,NaN,Text,R20210209113030839965,1,1
65,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,12,3,NaN,Text,R20210209113030839965,1,1
66,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,1,Name,...,Name,14.0,4.0,13,3,NaN,Text,R20210209113030839965,1,1
222,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,7,4,-52,Text,R20210209113030839965,1,1
223,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,8,4,22,Number,R20210209113030839965,1,1
224,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,9,4,89,Number,R20210209113030839965,1,1
225,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,10,4,NaN,Text,R20210209113030839965,1,1
226,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,11,4,NaN,Text,R20210209113030839965,1,1
227,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,12,4,NaN,Text,R20210209113030839965,1,1
228,5,2,AgeGenderSheet,Ages,Age Table,Gender Table,Age Table,2,2,Age,...,Age,14.0,4.0,13,4,NaN,Text,R20210209113030839965,1,1
366,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,16,4,Paul,Text,R20210209113030839965,1,1
367,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,17,4,Ringo,Text,R20210209113030839965,1,1
368,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,18,4,Brian,Text,R20210209113030839965,1,1
369,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,19,4,NaN,Text,R20210209113030839965,1,1
370,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,20,4,NaN,Text,R20210209113030839965,1,1
371,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,21,4,NaN,Text,R20210209113030839965,1,1
372,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,0,Name,...,Name,23.0,1.0,22,4,NaN,Text,R20210209113030839965,1,1
528,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,16,5,Male,Text,R20210209113030839965,1,1
529,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,17,5,Prefer not to say,Text,R20210209113030839965,1,1
530,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,18,5,Male,Text,R20210209113030839965,1,1
531,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,19,5,NaN,Text,R20210209113030839965,1,1
532,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,20,5,NaN,Text,R20210209113030839965,1,1
533,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,21,5,NaN,Text,R20210209113030839965,1,1
534,14,4,AgeGenderSheet,Genders,Gender Table,DOB Table,Gender Table,2,1,Gender,...,Gender,23.0,1.0,22,5,NaN,Text,R20210209113030839965,1,1

In [144]:
AgesCells = Data2BPublished_Cells[Data2BPublished_Cells['DataSetID']=='Ages']
AgesCells.columns

Index(['AnchorRowID', 'AnchorColumnID', 'SheetName', 'DataSetID',
       'ReferenceTextStart', 'ReferenceTextEnd', 'ReferenceText',
       'RowFromReferenceText', 'ColumnFromReferenceText', 'TemplateText',
       'DataGroup', 'DataCategory', 'DataScope', 'FieldID', 'Column Header',
       'EndRowID', 'EndColumnID', 'RowID', 'ColumnID', 'CellValue', 'CellType',
       'FileName', 'KeepColumn', 'KeepRow'],
      dtype='object')

In [145]:
def PivotDataSet(DataSet_in):
    Cells = Data2BPublished_Cells[Data2BPublished_Cells['DataSetID']==DataSet_in]
    Table = pd.DataFrame()
    Table = Cells.pivot_table(index = ['RowID'], values = 'CellValue',columns = 'FieldID', aggfunc = 'max')
    #Headings = Table.iloc[0]
    #HeadingsList = list(Headings)
    #HeadingsListTuple = enumerate(HeadingsList,start=1)
    #HeadingsListDict = dict(HeadingsListTuple)
    #Table = Table.rename(columns=HeadingsListDict)
    #Table = Table.drop([1])
    Columns = Table.columns.tolist()
    return Table, Columns
AgeTable,AgeColumns = PivotDataSet('Ages')

In [146]:
AgeTable

FieldID  Age   Name
RowID
7        -52   Paul
8         22  Ringo
9         89  Brian

In [147]:
MetaData_Table, MetaData_Columns = GetTableFromCells('MetaData')
MetaData_Table

ColumnID Database      DataSetID Schema      TableName
RowID
2            data           Ages    raw           Ages
3            data        Genders    raw        Genders
4            data            DoB    raw            DoB
5            data  MaritalStatus    raw  MaritalStatus
6            data     Department    raw     Department
7            data           Jobs    raw           Jobs
8            data   HomeLocation    raw   HomeLocation

In [148]:
engine = create_engine('postgresql://pythonuser:pythonuser@localhost:5432/data')

import os
cwd = os.getcwd()
sqlfilename = cwd + '/CreateTableModel.sql'
f = open(sqlfilename, "r")
fs = f.read()

connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

sqlcmnd = 'COPY "raw_CovidTrackerGantt" FROM \''+ path2file + '\' DELIMITER \',\' CSV;'
sqlcmnd
with engine.connect().execution_options(autocommit=True) as con:
    con.execute(sqlcmnd)
os.remove(path2file)
sqlfilename = cwd + '/PopTableModel.sql'

f = open(sqlfilename, "r")
fs = f.read()
connection = engine.raw_connection()
try:
    cursor = connection.cursor()
    cursor.execute(fs)
finally:
    connection.commit()
    connection.close()

In [149]:
for index, row in MetaData_Table.iterrows():
    print(row['DataSetID'])
    DB_Table, DB_Columns = PivotDataSet(row['DataSetID'])
    TableName = row['TableName']
    Schema = row['Schema']
    DB_Table.to_sql(
        name=TableName,
        con=engine,
        schema=Schema,
        if_exists='replace',
        index=True,
        index_label=None,
        chunksize=None,
        dtype=None)

Ages
Genders
DoB
MaritalStatus
Department
Jobs
HomeLocation


set @createtable = NULL;

SELECT @createtable = ISNULL(@createtable + ',','') + CreateField
FROM (SELECT '['+ColumnName+']' + ' ' + ColumnType as CreateField FROM [Working].[DataMapTable]) AS CreateField;

SELECT @columnlist = ISNULL(@columnlist + ',','') + FieldName
FROM (SELECT '['+ColumnName+']' FieldName FROM [Working].[DataMapTable]) AS FieldName;

--SELECT ColumnName + ' ' + ColumnType as CreateField FROM [Working].[DataMapTable]

-- @TableSchema = [Schema]
-- @TableName = [TableName]

set @createtable = 'create table ' + @TableSchema +'.' + @TableName + '(' +@createtable + ')'

--select @createtable;

set @SQLCmnd = 'DROP TABLE IF EXISTS ' + @TableSchema +'.' + @TableName

EXEC sp_executesql @SQLCmnd;

EXEC sp_executesql @createtable;

set @SQLCmnd = 'insert into ' + @TableSchema +'.' + @TableName + ' select ' + @columnlist + ' from Working.pivoteddata;'

--select @SQLCmnd

EXEC sp_executesql @SQLCmnd;

DROP TABLE IF EXISTS Working.pivoteddata;

commit transaction;

--select * from Working.PublishTable;

GO